@font-face {
    font-family: 'Humnst777 Blk BT';
    src: url('fonts/Humnst777 Blk BT.ttf') format('Woff');
    src: url('fonts/Humnst777 Blk BT.woff') format('Woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://s3-alpha-sig.figma.com/img/869a/8c79/e44842e0a95b96aa69948da3009e4d5e?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ZlbG8Ycb9Krg2x1~wLGAcA1kaOz375Ne59qQ17spYLJ1IxNdCB~2hlpx1s-Y6hS-02vo-dgjPltJUGRS-CKPPtHq5Bu22j-h1DUD01RUc9sQXn-LU9kFvA6vasdQL1RM4~3WZNX7i2gsmVR5Tqn4JlsH1~4rD-y38t8f8JUphMQmCmxK4ks2PoRIh1txuzM6gYvhT1YVIck-7WF8qWwZhyDl1B0D3fcLI3uZcXzFhU5roud5FPEicuzy2nNV1iJPSA1~zZRhzIuPhwYmOX61D9qLjbyXSLsi7E2z~iA~RBIAmcCMShbl-peevKRombWXoBYavP6-rJxr3YNj8F7o~A__);
    background-size: 100%;
    background-position: 50% 50%;
    font-family: 'Humnst777 Blk BT', sans-serif;
}

.box {
    background: #51c8bc;
    border-radius: 26px;
    display: flex;
    padding-left: 35px;
    width: 1154px;
    height: 758px;
    overflow: hidden;
    box-shadow: 0 0 10px 9px #bababa;
}

.main {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    border-radius: 26px;
    position: relative;
}

.pg>h1 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    top: 70px;
}

.account {
    text-align: left;
}

h1 {
    letter-spacing: 3px;
    line-height: 35px;
    font-size: 34px;
    font-weight: 400;
}

.logo {
    width: 85px;
    height: 52px;
    top: 167px;
    left: 177px;
}

.vr-img {
    position: absolute;
    width: 755px;
    height: 566px;
    left: -160px;
    z-index: 1;
}

svg {
    width: 20%;
}

.login {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 729px;
    border-radius: 26px;
    padding: 99px;
    position: relative;
    left: 65px;
}

.drop-down {
    position: relative;
    left: 250px;
    bottom: 70px;
}

.drop-down>select {
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 35px;
    padding: 8px;
    letter-spacing: 1px;
    position: absolute;
    left: -70px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-form {
    width: 510px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
}

.input-box {
    display: flex;
}

.input-box i {
    position: relative;
    right: 30px;
    color: #999;
}

input, span p {
    font-family: 'Humnst777 Blk BT', sans-serif;
    font-size: 14px;
    color: #999;  
}

.terms-and-c {
    display: flex;
    width: 461px;
    height: 53px;
    gap: 17px;
}

#terms {
    width: 20px;
    height: 20px;
}

button {
    width: 513px;
    height: 57px;
    border-radius: 5px;
    color: #fff;
    background: #51c8bc;
    border: none;
    font-family: 'Humnst777 Blk BT', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    transition: background 1s, transform 1s 1s ease;
}

button:hover {
    background: #295e58;
    cursor: pointer;
}

.or {
    text-align: center;
    line-height: 3em;
}

.google, .facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.google>p, .facebook>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #999;
}

.google a, .facebook a {
    color: #000;
}


.accounts {
    display: flex;
    justify-content: space-between;
    width: 513px;
}

.already-account {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px; 
}

.already-account>p, .accounts>p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
}

.already-account>p {
    letter-spacing: 1px;
    color: #999;
}

a {
    color: #51c8bc;
    text-decoration: none;
}

a:hover {
    color: #295e58;
    cursor: pointer;
}

