@font-face {
    font-family: 'Humnst777 Blk BT';
    src: url('Humanist777BT-BlackB.woff2') format('woff2'),
        url('Humanist777BT-BlackB.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

